- if @tag
  %h2 Viewing Tag: #{@tag}
  %a{:href => assets_path} See All

%table#assets.table.table-striped.table-bordered.table-condensed
  %tr
    %th
    %th File
    %th Tags
  - @assets.each do |asset|
    = render :partial => "shared/asset", :locals => { :asset => asset }


%h4 Upload files
%form{:id => "upload_form", :enctype => "multipart/form-data",:method => 'post'}
  %input{:type => 'file', :name => 'file[]', :id => 'file_select', :multiple => true}
  %a#upload-button.btn Upload 
  #progress-bar.progress.progress-danger.progress-striped
    .bar